.root {
  -fx-background-color: #FBF7F7;
}

.menuButton {
  -fx-background-color: #3366FF;
  -fx-border-width: 0;
  -fx-font-family: Verdana;
  -fx-font-weight: bold;
  -fx-font-size: 14;
  -fx-text-fill: #ECECEC;
  -fx-wrap-text: true;
  -fx-text-alignment: center;
}

.menuButton:hover {
  -fx-background-color: #2557FB;
}

.menuButton:pressed {
  -fx-background-color: #144BFF;
  -fx-text-fill: #FBF7F7;
}

.menuButton:selected {
  -fx-background-color: #144bff;
  -fx-text-fill: #FBF7F7;
}

.deleteButton {
  -fx-background-color: #F24949;
  -fx-background-radius: 5;
  -fx-border-width: 0;
  -fx-font-family: Verdana;
  -fx-font-weight: bold;
  -fx-font-size: 14;
  -fx-text-fill: #ECECEC;
}

.deleteButton:hover {
  -fx-background-color: #F23121;
}
.deleteButton:pressed {
  -fx-background-color: #F31818;
  -fx-text-fill: #FBF7F7;
}

.vaccinationButton {
  -fx-background-color: transparent;
  -fx-background-radius: 3;
  -fx-border-color: transparent;
  -fx-border-radius: 3;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
  -fx-text-fill: #000000;
}

.vaccinationButton:hover {
  -fx-background-color: #FBFBFB;
}

.vaccinationButton:pressed {
  -fx-background-color: #DCE6FF;
  -fx-text-fill: #000000;
}

.split-menu-button {
  -fx-background-color: #3366FF;
}

.split-menu-button .label:hover {
  -fx-background-color: #2557FB;
}

.split-menu-button .arrow-button:hover {
  -fx-background-color: #2557FB;
}

.split-menu-button .arrow-button:pressed {
  -fx-background-color: #144BFF;
}

.context-menu {
  -fx-background-color: transparent;
}

.split-menu-button .split-menu {
  -fx-padding: 0;
  -fx-background-color: transparent;
  -fx-border-width: 0;
}

.split-menu-button .menu-item {
  -fx-background-color: #3366FF;
}

.split-menu-button .menu-item:hover {
  -fx-background-color: #2557FB;
}

.split-menu-button .menu-item:hover .label {
  -fx-background-color: #2557FB;
}

.split-menu-button .menu-item:pressed {
  -fx-background-color: #144BFF;
}

.split-menu-button .menu-item:pressed .label {
  -fx-background-color: #144BFF;
}

.split-menu-button .split-menu {
  -fx-background-color: #3366FF;
}

.split-menu-button .label {
  -fx-background-color: #3366FF;
  -fx-font-family: Verdana;
  -fx-font-weight: bold;
  -fx-font-size: 14;
  -fx-text-fill: #ECECEC;
  -fx-alignment: center;
}

.split-menu-button .arrow-button {
  -fx-background-color: #3366FF;
}

.split-menu-button .arrow {
  -fx-background-color: #FBFBFB;
}

.pane {
 -fx-background-color: #3366FF;
 -fx-background-radius: 0 5 5 0;
 -fx-border-width: 0;
}

.tableView {
  -fx-background-color: #FBF7F7;
  -fx-background-radius: 15;
  -fx-border-color: transparent;
  -fx-selection-bar: #4C77FE;
  -fx-selection-bar-non-focused: #658AFE;
}

.tableView .table-column {
  -fx-alignment: center-left;
  -fx-border-width: 0;
}

.tableView .table-row-cell:selected {
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.tableView .table-row-cell:selected .table-cell {
  -fx-text-fill: #000000;
}

.tableView .column-header {
  -fx-background-color: #3366FF;
  -fx-border-width: 0;
  -fx-pref-height: 27;
}

.tableView .column-header-background {
  -fx-background-color: #3366FF;
  -fx-background-radius: 10 10 0 0;
  -fx-border-radius: 10 10 0 0;
}

.leftColumn {
  -fx-background-radius: 10 0 0 0;
}

.rightColumn {
  -fx-background-radius: 0 10 0 0;
}

.tableView .column-header .label {
  -fx-font-family: Segoe UI;
  -fx-font-size: 13;
  -fx-text-fill: #FBFBFB;
}

.tableView .table-cell {
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
}

.tableView .table-row-cell:empty {
  -fx-background-color: transparent;
}

.tableView .table-row-cell:empty .table-cell {
  -fx-border-color: transparent;
}

.tableView .filler {
  -fx-background-color: transparent;
}

.tableView .placeholder {
  -fx-opacity: 0;
}

.tableView .scroll-bar {
  -fx-background-color: #FBF7F7;
}

.tableView .scroll-bar:horizontal {
  -fx-pref-height: 0;
}

.tableView .scroll-bar:horizontal .increment-button,
.tableView .scroll-bar:horizontal .decrement-button {
  -fx-pref-width: 0;
}

.tableView .scroll-bar:horizontal .increment-arrow,
.tableView .scroll-bar:horizontal .decrement-arrow {
  -fx-shape: " ";
}

.tableView .scroll-bar:vertical {
  -fx-pref-width: 10;
}

.tableView .scroll-bar:vertical .increment-button,
.tableView .scroll-bar:vertical .decrement-button {
  -fx-background-color: #FBF7F7;
  -fx-border-width: 0;
  -fx-pref-height: 1;
}

.tableView .scroll-bar:vertical .increment-arrow,
.tableView .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
}

.tableView .scroll-bar:vertical .track {
  -fx-background-color: #FBF7F7;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.tableView .scroll-bar:vertical .thumb {
  -fx-background-color: #3366FF;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.tableView:focused .scroll-bar:vertical .thumb:hover {
  -fx-background-color: #1951FF;
}

.tableView:focused .scroll-bar:vertical .thumb:pressed {
  -fx-background-color: #1951FF;
}

.textField {
  -fx-background-color: #FBFBFB;
  -fx-background-radius: 3;
  -fx-border-color: #B3B3B3;
  -fx-border-radius: 3;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
}

.textField:hover {
  -fx-cursor: text;
}

.textField:focused {
  -fx-border-color: #3366FF;
}

.textForTitle {
  -fx-font-family: Microsoft YaHei;
  -fx-font-weight: bold;
  -fx-font-size: 36;
  -fx-fill: #FBFBFB;
}
