.root {
  -fx-background-color: #FBF7F7;
}

.button {
  -fx-background-color: #3366FF;
  -fx-background-radius: 10;
  -fx-border-width: 0;
  -fx-font-family: Verdana;
  -fx-font-size: 14;
  -fx-text-fill: #FBFBFB;
}

.button:hover {
  -fx-background-color: #1951FF;
}

.button:pressed {
  -fx-background-color: #1951FF;
  -fx-text-fill: #ECECEC;
}

.comboBox {
  -fx-background-color: #FBFBFB;
  -fx-background-radius: 3;
  -fx-border-color: #B3B3B3;
  -fx-border-radius: 3;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
}

.comboBox .list-cell {
  -fx-background-color: #FBF7F7;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
  -fx-text-fill: #000000;
}

.comboBox .list-cell:hover {
  -fx-background-color: #3366FF;
  -fx-text-fill: #FBFBFB;
}

.comboBox .list-cell:pressed {
  -fx-background-color: #1951FF;
  -fx-text-fill: #FBFBFB;
}

.comboBox .scroll-bar {
  -fx-background-color: #FBF7F7;
}

.comboBox .scroll-bar:vertical {
  -fx-pref-width: 10;
}

.comboBox .scroll-bar:vertical .increment-button,
.comboBox .scroll-bar:vertical .decrement-button {
  -fx-background-color: #FBF7F7;
  -fx-border-width: 0;
  -fx-pref-height: 1;
}

.comboBox .scroll-bar:vertical .increment-arrow,
.comboBox .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
}

.comboBox .scroll-bar:vertical .track {
  -fx-background-color: #FBF7F7;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.comboBox .scroll-bar:vertical .thumb {
  -fx-background-color: #3366FF;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.comboBox:focused .scroll-bar:vertical .thumb:hover {
  -fx-background-color: #1951FF;
}

.comboBox:focused .scroll-bar:vertical .thumb:pressed {
  -fx-background-color: #1951FF;
}

.textForHeaders {
  -fx-font-family: Segoe UI;
  -fx-font-size: 12;
}

.textForTitle {
  -fx-font-family: Verdana;
  -fx-font-size: 24;
}