.root {
  -fx-background-color: #FBF7F7;
}

.paneOnTop {
  -fx-background-color: #F9F0F3;
  -fx-background-radius: 10 10 0 0;
}

.paneBottom {
  -fx-background-color: #EAE9E9;
  -fx-background-radius: 0 0 10 10;
}

.buttonOK {
  -fx-background-color: #FBFBFB;
  -fx-background-radius: 30;
  -fx-border-color: #3366FF;
  -fx-border-radius: 30;
  -fx-font-family: Verdana;
  -fx-font-size: 14;
}

.buttonOK:hover {
  -fx-border-color: #2557FB;
}

.buttonOK:pressed {
  -fx-background-color: #F0F0F0;
  -fx-border-color: #144BFF;
}

.buttonX {
  -fx-background-color: transparent;
  -fx-background-radius: 0 10 0 0;
  -fx-border-color: transparent;
}

.buttonX:hover {
  -fx-background-color: #E63232;
  -fx-text-fill: #F9F0F3;
}

.buttonX:pressed {
  -fx-background-color: #E64747;
  -fx-text-fill: #F9F0F3;
}