.root {
  -fx-background-color: #FBF7F7;
}

.button {
  -fx-background-color: #3366FF;
  -fx-background-radius: 10;
  -fx-border-width: 0;
  -fx-font-family: Verdana;
  -fx-font-size: 14;
  -fx-text-fill: #FBFBFB;
}

.button:hover {
  -fx-background-color: #1A53FF;
}

.button:pressed {
  -fx-background-color: #1A53FF;
  -fx-text-fill: #FBF7F7;
}

.comboBox {
  -fx-background-color: #FBF9F9;
  -fx-background-radius: 3;
  -fx-border-color: #B3B3B3;
  -fx-border-radius: 3;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
}

.comboBox .list-cell {
  -fx-background-color: #FBF7F7;
  -fx-text-family: Segoe UI;
  -fx-text-size: 14;
  -fx-text-fill: #000000;
}

.comboBox .list-cell:hover {
  -fx-background-color: #3366FF;
  -fx-text-fill: #FBFBFB;
}

.comboBox .list-cell:pressed {
  -fx-background-color: #3366FF;
  -fx-text-fill: #FBFBFB;
}

.comboBox .scroll-bar {
  -fx-background-color: #FBF7F7;
}

.comboBox .scroll-bar:vertical {
  -fx-pref-width: 10;
}

.comboBox .scroll-bar:vertical .increment-button,
.comboBox .scroll-bar:vertical .decrement-button {
  -fx-background-color: #FBF7F7;
  -fx-border-width: 0;
  -fx-pref-height: 1;
}

.comboBox .scroll-bar:vertical .increment-arrow,
.comboBox .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
}

.comboBox .scroll-bar:vertical .track {
  -fx-background-color: #FBF7F7;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.comboBox .scroll-bar:vertical .thumb {
  -fx-background-color: #3366FF;
  -fx-background-radius: 3;
  -fx-border-width: 0;
}

.comboBox:focused {
  -fx-border-color: #3366FF;
}

.radioButton .radio {
  -fx-background-color: #FBF9F9;
  -fx-background-radius: 10;
  -fx-border-color: #B3B3B3;
  -fx-border-radius: 10;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
  -fx-padding: 3px;
}

.radioButton .radio .dot {
  -fx-padding: 6px;
}

.radioButton:selected .radio .dot {
  -fx-background-color: #3366FF;
  -fx-background-insets: 0;
}

.textField {
  -fx-background-color: #FBF9F9;
  -fx-background-radius: 3;
  -fx-border-color: #B3B3B3;
  -fx-border-radius: 3;
  -fx-font-family: Segoe UI;
  -fx-font-size: 14;
}

.textField:hover {
  -fx-cursor: text;
}

.textField:focused {
  -fx-border-color: #3366FF;
}

.textForHeaders {
  -fx-font-family: Segoe UI;
  -fx-font-size: 12;
}

.textForErrorMsg {
  -fx-font-family: Segoe UI;
  -fx-font-size: 12;
  -fx-text-fill: red;
}